<div class="row" id="logs">
  <ul class="nav nav-tabs">
    <li class="active"><a href="homepage/swapsrecieved">Swaps Recieved</a></li>
    <li><a href="homepage/swapssent">Swaps Sent</a></li>
  </ul>
</div>
<div class="row" id="listings">
  Listings
</div>
