<div class="row">
  <div class="col-md-6" id="profile_photo">
    <img src="" id="display_picture" alt="user picture here">
  </div>
  <div class="col-md-6" id="user_area">
    <div class="row" id="welcome">
      <h2>Welcome, <span id="user_name"></span></h2>
    </div>
    <div class="row">
      <div id="update_details">
         <button  class="homepage_button" type="button" name="button" id="update_button">Update Details</button>
       </div>
       <div id="add_skill">
         <button class="homepage_button" type="button" name="button" id="update_button">Add Skill</button>
       </div>
    </div>
  </div>
</div>
