<div class="row">
  <div class="col-md-6" id="profile_photo">
    <img src={{userimg}} id="display_picture" alt="">
  </div>
  <div class="col-md-6" id="user_area">
    <div class="row" id="welcome">
      <h2>Welcome, {{results.name}}</h2>
    </div>
    <div class="row" id="your_offer">
      <p>Your Offers:</p>
      <h4> Math Tutor, English Tutor</h4>
    </div>
    <div class="row" id="your_request">
      <p>Your Requests:</p>
      <h4> Physical Trainer, Spanish Tutor</h4>
    </div>
    <div class="row" id="update_details">
      <button type="button" name="button" id="update_button">Update Details</button>
    </div>
  </div>
</div>
