<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="/css/landing_style.css" type="text/css" />
	<link rel="stylesheet" href="/css/signin_style.css" type="text/css" />
	<link rel="stylesheet" href="/css/homepage_style.css" type="text/css" />
	<link rel="stylesheet" href="/css/svg_style.css" type="text/css" />
	<link rel="stylesheet" href="/css/update_style.css" type="text/css" />
	<title>Student Skill Swap</title>
</head>
<body>
	{{{ body }}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
	<script src="/js/authentication.js" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
	<script src="/js/animation.js" charset="utf-8"></script>
	<script src="/js/match_display.js" charset="utf-8"></script>
	<script src="../../test/match_display_test.js" charset="utf-8"></script>
	<script src="/js/exchange_creator.js" charset="utf-8"></script>
	<script src="/js/exchange_update.js" charset="utf-8"></script>
	<script src="/js/skills_routing.js" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
</body>
</html>
