{{!-- This is the homepage page --}}
<div class="container">
  <div class="row" id="logo_line">
    {{>header}}
  </div>
  <div class="row" id="user_bar">
    <div class="col-md-8" id="user_info">
      {{>userinfo}}
    </div>
    <div class="col-md-4" id="swap_log">
      {{>swaplog}}
    </div>
  </div>
  <div id="main_tabs">
    {{>swapresults}}
  </div>
</div>
