{{!-- This is the landing page --}}
<div class="container">
  <div class="row" id="greeting">

    <div class="col-md-6">
      <img src="/img/logo.png" alt="landing-image" id="landing-image">
    </div>

    <div class="col-md-6">
    <div class="row" id="title_row">
      <div class="title">
        <h1>Student Skill Swap</h1>
        <h4>Your chores are someone else's passion</h4>
    </div>
    <div class="row" id="button_row">
          <button id="login_button" type="button" name="button"><img src="/img/google.png"></button>
    </div>
      </div>

    </div>
  </div>
</div>

<div class="row creators">
  <h3>Brought to you by:</h3>
  <div class="col-md-4">
    <img src="/img/sarah.jpg" class="coder" alt="Sarah's picture">
    <h4>Sarah</h4>
  </div>
  <div class="col-md-4">
    <img src="/img/Ashish.jpg" class="coder" alt="Ashish's picture">
    <h4>Ashish</h4>
  </div>
  <div class="col-md-4">
    <img src="/img/tali.png" class="coder" alt="Tali's picture">
    <h4>Tali</h4>
  </div>
</div>
{{!-- temporary button --}}
