<div class="row" id="logo_line">
  {{>header}}
</div>
<h1 id="users_update">Welcome User!</h1>
{{!-- <button id="update_button" type="button" name="button">Fetch Skills</button> --}}
<h3>Here's a list of your skills:</h3>
<hr>

<div id="update_stuff">
  {{!-- update stuff goes here --}}
</div>

<button id="done_deleting" type="button" name="button">Done</button>
