<div class="row" id="logo_line">
  {{>header}}
</div>
<h1>Welcome User!</h1>
<h3>Here's a list of your skills:</h3>
<hr>
{{!-- each loop with all the users skills --}}
<button type="button" name="button">Done</button>
