.delete-wanted-btn{
  width:20px;
}
.offer-div{
  background-color: #4e638a;
  border-radius: 10px;
  margin:10px;
  width:50%;
  display: inline-block;
}

.offerbtn{
  padding:10px;
  background-color: #6eb510;
  /*background-color: #529cc4;*/
  border:none;
  color:white;
  font-size: 20px;
  width:100%;
  /*border-radius: 10px;*/
}

.delete-offer-btn, .delete-wanted-btn{
  float:right;
  border: none;
  background-color: #7bbfe4;
  border-radius: 0px 10px 0px 0px;
  font-weight: bold;
}

.delete-offer-btn{
  /*color:white;*/
}

.wanted-list{
  margin:10px;
  width:150px;
  height:100px;
  background-color: #def0fa;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
}

.wanted-values{
  font-size: 15px;
  /*margin-top: 15px;*/
  text-align: left;
}

#done_deleting{
  padding:10px;
  /*background-color: #def0fa;*/
  background-color: #b0e36d;
  border:1px solid #6eb510;
  color:#4e638a;
  /*color:#6eb510;*/
  /*font-weight: bold;*/
  font-size: 20px;
  border-radius: 10px;
  width:85%;
  margin-top: 30px;
  margin-bottom: 100px;
}
/*
.wanteds-menu{
  display: none;
}*/
